click==7.1.2
dnspython==1.16.0
Flask==1.1.2
Flask-SocketIO==4.3.1
greenlet==0.4.17
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
psycopg2-binary==2.8.6
python-engineio==3.13.2
python-socketio==4.6.0
six==1.15.0
Werkzeug==2.2.3
