{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <h1 class="light">Chat</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2 class="name">Conversation between You and {{ them[0].first_name }} {{ them[0].last_name }} </h2>
    </div>
</div>
<div class='chats'>
    {% for x in chats %}
        {% if x.player == localPlayer%}
        <div class="row">
            <div class="col chat">
                <h2 class="name">{{you[0].first_name}} {{you[0].last_name}}</h2>
                <p class="local">{{ x.message }}</p>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col chat">
                <h2 class="name">{{ them[0].first_name }} {{ them[0].last_name }}</h2>
                <p class="nonLocal">{{ x.message }}</p>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
<div style="width: 100%;display:table"><input style="display:table-cell; width:100%" id="text" placeholder="Enter your message here"><br><br></div>



{% endblock %}